{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="w-100 py-5">
      <h1 class="w-100 text-center">Balinne News</h1>
      <hr class="solid" style="width:20%; max-width:50px;">
    </div>
    <div class="row px-5 pb-5 d-flex justify-content-center">
        {% for single_news in news %}
        <div class="card p-0 col-sm-4 m-1 col-lg-3 shadow card_hover">
            <a href="{% url 'news_detail' single_news.id %}">
                <img class="card-img-top" src="{{ single_news.news_thumbnail.url }}" alt="card news">
                <div class="card-body">
                <h5 class="card-title">{{single_news.title}}</h5>
                <span>
                    {{single_news.date_kr}}
                </span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
