<div id="fade-overlay" class="w-100 h-100 invisible">
    <div class="w-100 h-100 position-fixed" style="background-color: rgba(0,0,0,0.6); z-index:20"></div>
    <div id="spinner1" class="w-100 h-100 position-fixed" style="z-index:21; top:40%;">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5">
            <span id="spinner-message" class="text-light" style="font-size:2rem;">We are logging you in!</span>
            <br><br>
            <div class="spinner-border text-light" role="status" style="width:5rem;height:5rem;">
            <span class="sr-only text-light">Loading...</span>
            </div>
    </div>
</div>
</div>